@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Copped Header and Footer styles */
:root {
    --primary-color: rgb(255, 202, 19);
}

/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

header ul,
footer ul,
#hamburger-section ul {
    list-style-type: none;
}

/* Header section */
header {
    background-color: #ffffff;
    color: #181818;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-div {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
}

header figure {
    align-items: center;
}

header nav {
    min-width: 220px;
    width: 40%;
}

header ul {
    justify-content: space-between;
}

header a,
footer a,
#hamburger-section a {
    color: inherit;
    text-decoration: none;
}

header ul a {
    padding: 0.25em 0.5em;
}

header ul a:hover {
    border-bottom: 3px solid var(--primary-color);
}

header img {
    width: 24px;
    height: 24px;
}

#login-div {
    justify-content: space-between;
    width: 140px;
}

#login-div .flex {
    align-items: center;
}

#login {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #181818;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 0.6em 1em;
    text-transform: uppercase;
}

/* Hamburger section */
#hamburger {
    cursor: pointer;
    display: none;
    height: 10px;
    width: 20px;
}

#hamburger-section {
    align-items: center;
    background-color: var(--primary-color);
    display: none;
    justify-content: center;
    height: 100vh;
    line-height: 3;
    position: fixed;
    top: 45px;
    width: 100vw;
}


#hamburger-section a:hover,
footer a:hover {
    color: #ffffff;
}

/* Menu section */
.menu {
    padding-left: 20px;
}

.menu-heading {
    margin-bottom: 15px;
    font-weight: lighter;
}

.menu-items {
    margin-top: 80px;
}

.menu-items-row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 350px;
}

.menu-items-row::-webkit-scrollbar {
    width: 1em;
}

.menu-items-row::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    outline: 1px solid slategrey;
}

.menu-card {
    width: 300px;
    height: 310px;
    margin-right: 20px;
}

.menu-card img {
    height: 150px;
    width: 250px;
}

.menu-card h3 {
    font-weight: lighter;
}

.menu-card p {
    color: #333;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.call-to-action button {
    padding: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border: 1px solid var(--primary-color);
}

.menu-card-text {
    padding: 10px;
}


/* Modal styling */
.modal{
    background-color: #fff;
    border: 1px solid #000;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 400px;
    margin-top: -220px;
    margin-left: -200px;
    display: flex;
    justify-content: center;
}

.modal-container{
    text-align: center;
}

.modal-container h3{
    font-weight: lighter;
}

.modal-container img{
    height: 50px;
}

.modal-heading{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 30px 0px 30px 0px;
}

.checkout,
.modal-heading button{
    padding: 7px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    border: none;
    color: #000;
}

.order{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0px 0px 50px 0px;
}

.summary h3{
    margin: 0px 0px 10px 0px;
}

.sum{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
}
/* Footer section */
footer {
    background-color: var(--primary-color);
    color: #181818;
    font-family: 'Poppins', sans-serif;
    padding: 1.5em 0;
    width: 100%;
}

#footer-div {
    justify-content: space-around;
    line-height: 2.5;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    width: 90%;
}

footer nav {
    width: 50%;
}

footer ul {
    justify-content: space-between;
}

/* General classes */
.flex {
    display: flex;
}

.bold {
    font-weight: 500;
}


/* Media queries */
@media (max-width: 700px) {
    html {
        font-size: 12px;
    }

    #logo-div {
        margin-right: 1.5em;
        width: 160px;
    }

    #hamburger {
        display: block;
        margin-left: 1.5em;
    }

    #hamburger-section {
        font-size: 1.5rem;
    }

    #login-div {
        justify-content: flex-end;
        width: 100%;
    }

    .hide {
        display: none;
    }
}


@media (max-width: 500px) {
    footer .flex-column {
        width: 100%;
    }

    .flex-column {
        flex-direction: column;
    }
}