/* General styles */
html {
    font-size: 16px;
}

body {
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
}

/* Completed box */
#completed-section {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#completed-box {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    max-width: 536px;
    padding: 2em;
    position: relative;
    width: 85%;
    z-index: -1;
}

#completed-img {
    height: 78px;
    margin: 2.5em 0;
    width: 78px;
}

#completed-box p {
    margin-bottom: 5em;
}

#back-to-menu {
    bottom: 20px;
    color: #5c5c5c;
    position: absolute;
    right: 20px;
    text-align: right;
    text-decoration: none;
    width: 100%;
}

#back-to-menu:hover {
    text-decoration: underline;
}

/* Media queries */
@media (max-width: 400px) {
    #completed-box {
        width: 90%;
    }

    #completed-img {
        height: 50px;
        width: 50px;
    }

    #back-to-menu {
        margin-top: 2em;
    }
}