/* General styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Main section */
#main-section {
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
    /* margin: 0 auto; */
    margin-left: 2em;
    margin-top: 4em;
    /* border: 1px solid red; */
    max-width: 500px;
    width: 60%;
}

#cloud {
    margin-bottom: 2em;
}

#error-message {
    font-size: 2.25rem;
    text-transform: uppercase;
}

/* Media queries */
@media (max-width: 400px) {
    #cloud {
        height: 60px;
        width: 60px;
    }
}