/* General styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Main section */
#main-section {
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 6em;
    max-width: 400px;
    width: 60%;
}

#cloud {
    margin-bottom: 2em;
}

#error-message {
    text-transform: uppercase;
}